@media (max-width: 768px) {
    .visualize_form{
        margin-top: 0px;
        padding: 2%;
    }

    .visualize_form h1{
        font-size: 22px;
        align-items: center;
        text-align: center;
    }

    .visualize_form input[type="file"] {
        color: white;
        font-size: 20px;
        cursor: pointer;
        margin-left: 9%;
    }

    .visualize_form form{
        display: flex;
        flex-direction: column;
        justify-content: center;
        align-items: center;
        height: auto;
    }

    .visualize_form button{
        margin-bottom: 2%;
        font-size: 19px;
        margin-top: 4%;
        text-align: center;
    }
}