@media (max-width: 768px) {
    .element {
        width: 100%;
        /* 2 елементи в ряд на мобільних */
    }

    .date {
        display: none;
    }
}

@media(max-width: 768px) {
    body {
        background-size: contain;
        overflow-y: visible;
    }

    .sidebar {
        margin: 0px;
        border-top-left-radius: 0px;
        border-bottom-left-radius: 0px;
        z-index: 10;
    }

    .content input {
        width: 280px;
        padding-left: 10px;
        border-radius: 10px;
    }

    .content{
        width: 100%;
        margin-left: 50px;
    }

    #openFullscreenBtn{
        margin-top: 10px;
    }

    .main_container {
        display: grid;
        grid-template-columns: auto auto;
        grid-template-areas: "menu main";
        height: 100vh;
        z-index: 10;
    }

    .inputElements {
        z-index: 0;
    }

    .inputElements button {
        width: 280px;
        border-radius: 10px;
        margin-top: -30px;
    }

    .nameOfProject {
        margin-top: 10px;
        width: 100px;
        margin-left: -70px;
    }

    #undefined{
        width: 260px;
        height: 100px;
    }

    #viewer canvas {
        width: 500px;
        height: 100px;
    }
    
    #viewer {
        width: 500px;
        height: 300px;
        position: relative;
        cursor: all-scroll;
        z-index: 5;
    }

    .buttons{
        display: flex;
        width: 400px;
        flex-wrap: wrap;
    }

    #downloadBtn{
        z-index: 0;
    }

    .buttons button{
        padding: 5px;
        flex-basis: 200;
        z-index: 0;
    }

    .view_molecule{
        position: relative;
        left: -50px;
    }

    #moleculeLinkFormula,
    #moleculeLinkName {
        display: none;
        text-decoration: none;
        color: #31315a;
        background-color: #a6a6d8;
        margin-top: 20px;
        font-size: 20px;
        width: 250px;
        text-align: center;
        padding: 10px;
        border-radius: 10px;
        transition: 0.5s;
    }

    #moleculeLink:hover {
        background-color: #bebef9;
        text-decoration: solid;
    }

    #moleculeLink:hover::before {
        background-color: #a6a6d8;
        text-decoration: none;
    }

    #nameOfSubstance,
    #formulaOfSubstance {
        width: 670px;
        padding: 20px;
        border: none;
        background-color: rgba(0, 0, 0, 0.5);
        border-radius: 10px;
        font-size: 15px;
        z-index: 5;
        align-items: center;
    }

    #nameOfSubstance input,
    #formulaOfSubstance input {
        width: 230px;
        margin-bottom: 20px;
    }

    #formulaOfSubstance input {
        margin-top: 10px;
    }

    #nameOfSubstance button,
    #formulaOfSubstance button {
        padding: 10px;
        max-width: 200px;
        justify-content: center;
        font-size: 17px;
    }

    #nameOfSubstanceButton {
        margin-bottom: 40px;
    }

    #MainText {
        display: none;
    }

    #MainText_in_inputElements {
        display: flex;
    }

    .text {
        width: 250px;
        position: absolute;
        left: 95px;
        background-color: rgba(0, 0, 0, 0.5);
        color: white;
        border-radius: 5px;
        padding: 30px;
        font-size: 15px;
    }

    .text .main_text {
        font-size: 17px;
        text-align: center;
    }

    #nameOfSubstanceButton {
        margin-top: 0px;
    }
}