@media(max-width: 768px) {
    body {
        background-size: contain;
    }

    .sidebar {
        margin: 0px;
        border-top-left-radius: 0px;
        border-bottom-left-radius: 0px;
        z-index: 10;
    }

    .content input {
        width: 280px;
        padding-left: 10px;
        border-radius: 10px;
    }

    .inputElements {
        position: relative;
        left: -70px;
        z-index: 0;
    }

    .inputElements button {
        width: 280px;
        border-radius: 10px;
        margin-top: -30px;
    }

    .nameOfProject {
        margin-top: 10px;
        width: 100px;
        margin-left: -70px;
    }

    #viewer {
        width: 360px;
        margin-left: -70px;
        margin-right: 10px;
    }

    #moleculeLink {
        display: none;
        text-decoration: none;
        color: #31315a;
        background-color: #a6a6d8;
        margin-top: 20px;
        margin-left: -70px;
        font-size: 20px;
        width: 250px;
        text-align: center;
        padding: 10px;
        border-radius: 10px;
        transition: 0.5s;
    }

    #moleculeLink:hover {
        background-color: #bebef9;
        text-decoration: solid;
    }

    #moleculeLink:hover::before {
        background-color: #a6a6d8;
        text-decoration: none;
    }

    .text {
        width: 100%;
        margin-left: -40px;
    }

    #nameOfSubstance,
    #smilesOfSubstance {
        width: 270px;
        padding: 20px;
        border: none;
        background-color: rgba(0, 0, 0, 0.5);
        position: relative;
        top: 40%;
        left: 30%;
        border-radius: 10px;
        font-size: 15px;
        z-index: 5;
        text-align: center;
    }

    #nameOfSubstance input,
    #smilesOfSubstance input {
        width: 230px;
        margin-bottom: 20px;
    }

    #smilesOfSubstance input {
        margin-top: 10px;
    }

    #nameOfSubstance button,
    #smilesOfSubstance button {
        padding: 10px;
        width: auto;
        justify-content: center;
        font-size: 17px;
    }

    #nameOfSubstanceButton {
        margin-bottom: 40px;
    }

    #MainText {
        display: none;
    }
    #MainText_in_inputElements{
        display: flex;
    }
}