#downloadBtn {
    margin-top: 20px;
    z-index: 10;
}

.content {
    align-items: center;
    grid-area: main;
    width: 100%;
    height: 100vh;
    text-align: left;
    padding-left: 100px;
    /* Відступ для коректного відображення поряд з сайдбаром */
}

#MainText {
    width: 100%;
    display: flex;
    justify-content: left;
    padding-left: 0px;
}

#viewer canvas {
    width: 500px;
    height: 100px;
}

#viewer {
    width: 500px;
    height: 300px;
    position: relative;
    cursor: all-scroll;
}

.data_about_molecule {
    margin-top: 20px;
    display: flex;
    flex-direction: column; /* розміщення елементів у стовпчик */
    gap: 10px; /* проміжок між елементами, за бажанням */
}

.data_about_molecule span{
    color: white;
    font-size: 20px;
}

.data_about_molecule h1{
    color: white;
    font-size: 20px;
}

.add_info,
.data_about_molecule a{
    color: rgb(201, 201, 201);
}