* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    font-family: "Fira Code";
}


#viewer {
    width: 1300px;
    height: 600px;
    position: relative;
}

h1 {
    color: rgb(255, 255, 255);
}

#MainText{
    width: 100%;
    text-align: center;
}

#moleculeLinkName,
#moleculeLinkSmileCode {
    display: none;
    text-decoration: none;
    color: #31315a;
    background-color: #a6a6d8;
    margin-top: 30px;
    margin-left: 0px;
    font-size: 20px;
    width: 250px;
    text-align: center;
    justify-content: center;
    align-items: center;
    padding: 10px;
    border-radius: 10px;
    transition: 0.5s;
}

#moleculeLinkName:hover,
#moleculeLinkSmileCode:hover {
    background-color: #bebef9;
    text-decoration: underline;
}

#moleculeLinkName:hover::before,
#moleculeLinkSmileCode:hover::before {
    background-color: #a6a6d8;
    text-decoration: none;
}

.content {
    grid-area: main;
    width: 100%;
    height: 100vh;
    text-align: left;
    padding-left: 100px;
    /* Відступ для коректного відображення поряд з сайдбаром */
}

.main_container {
    display: grid;
    grid-template-columns: 80px auto;
    grid-template-areas: "menu main";
    height: 100vh;
    z-index: 10;
}

.sidebar {
    grid-area: menu;
    --color-primary: #4651ca;
    position: absolute;
    overflow: hidden;
    top: 0;
    left: 0;
    bottom: 0;
    width: 80px;
    border-radius: 18px;
    transition: width 0.4s;
    font-family: "Fira Code";
    background-color: #1d1d2b;
    display: flex;
    flex-direction: column;
    align-items: center;
    padding-top: 24px;
    margin: 30px;
    z-index: 10;
}

.sidebar button {
    border: 0;
    background: #31315a;
    font-size: 20px;
    color: inherit;
    border-radius: 8px;
    font-family: inherit;
    cursor: pointer;
    display: flex;
    align-items: center;
    padding: 8px;
    width: 100%;
    justify-content: flex-start;
}

.left,
.right {
    position: absolute;
    top: 0;
    bottom: 0;
    transition: 0.4s;
    border-radius: inherit;
    display: flex;
    flex-direction: column;
    align-items: center;
}

.left {
    z-index: 1;
    left: 0;
    width: 80px;
    background: #1d1d2b;
}

.right {
    left: 80px;
    width: 220px;
    background: rgb(29 29 43 / 82%);
    transform: translateX(-100%);
}

.left img {
    width: 40px;
    margin: 34px 0 40px;
}

.left button {
    width: 40px;
    height: 40px;
    margin-bottom: 18px;
    display: grid;
    place-items: center;
}

.right h1 {
    color: #f9f9f9;
    letter-spacing: 2px;
    font-size: 18px;
    font-weight: 500;
    width: 100%;
    margin: 42px 0 24px 58px;
}

.right h2 {
    color: #a6a6d8;
    font-size: 14px;
    font-weight: 500;
    width: 100%;
    margin: 28px 0 18px 58px;
    cursor: default;
}

.links {
    margin-top: 23px;
    display: flex;
    flex-direction: column;
    /* Розташування кнопок у стовпчик */
    text-align: center;
    gap: 20px;
}

.links a {
    width: 170px;
    background-color: #31315a;
    text-decoration: none;
    border-radius: 5px;
    font-size: 16px;
    padding: 10px;
    color: #a6a6d8;
    transition: 0.5s;
}

.links a:hover {
    background-color: #a6a6d8;
    color: #31315a;
    transform-origin: bottom right;
}

.links a:hover::before {
    background-color: #31315a;
    color: #a6a6d8;
    transform-origin: bottom left;
}

.right button {
    padding: 8px 8px;
    background: transparent;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    gap: 8px;
}

.right button i {
    background: #31315a;
    width: 50px;
    height: 50px;
    border-radius: 8px;
    font-size: 22px;
    display: grid;
    place-items: center;
}

.right button:hover {
    color: #f9f9f9;
}

.right button:hover i {
    background: var(--color-primary);
}

.right button span {
    font-size: 12px;
}

.sidebar:hover {
    width: 300px;
}

.sidebar:hover .left {
    border-top-right-radius: 0;
    border-bottom-right-radius: 0;
}

.sidebar:hover .right {
    transform: translateX(0);
    border-top-left-radius: 0;
    border-bottom-left-radius: 0;
}

.content input {
    width: 500px;
    padding: 7px;
    border-radius: 20px;
    padding-left: 30px;
    height: 40px;
    background-color: #9f9fd3;
    outline: none;
    border: none;
    color: #f9f9f9;
    font-size: 18px;
}

.content input::placeholder {
    color: #f9f9f9;
    font-size: 18px;
}

::selection {
    background-color: #31315a;
    color: #f9f9f9;
    padding: 2px;
}

.content button {
    width: 250px;
    height: 50px;
    border: none;
    border-radius: 10px;
    font-size: 15px;
}

.content .inputElements h1 {
    margin-top: 30px;
}

.inputElements {
    display: grid;
    justify-content: start;
    align-items: start;
    gap: 20px;
    position: relative;
    width: 100%;
}

.inputElements button a {
    color: black;
}

#nameOfSubstance,
#smilesOfSubstance {
    padding: 20px;
    border: none;
    background-color: rgba(0, 0, 0, 0.7);
    z-index: 11;
    position: relative;
    top: 40%;
    left: 30%;
    border-radius: 10px;
    font-size: 15px;
}

#smilesOfSubstance h1 {
    width: auto;
    padding: 3px;
    background-color: #333383;
    color: #f9f9f9;
    margin-top: 0px;
    font-size: 15px;
    margin-bottom: 10px;
}

#nameOfSubstance button,
#smilesOfSubstance button {
    transition: 0.5s;
}

#nameOfSubstance button:hover,
#smilesOfSubstance button:hover {
    text-decoration: underline;
}

#nameOfSubstanceButton{
    margin-top: 20px;
}

.history-container {
    width: 100%;
    display: flex;
    align-items: center;
    text-align: center;
    margin-top: 50px;
}

.history-container::before,
.history-container::after {
    content: '';
    flex: 1;
    border-top: 1px solid rgb(255, 255, 255);
    margin: 0 10px;
}

.history-container span {
    white-space: nowrap;
}

#History-text{
    color: white;
    font-size: 30px;
}