{% extends "template.html" %}
{% load static %}

{% block title %}ChemVisualizer | Головна сторінка{% endblock %}

{% block body %}
<div id="loader_container">
    <span id="nameLoader" class="loader" style="display: none;"></span>
    <span id="formulaLoader" class="loader" style="display: none;"></span>
</div>


<div id="MainText">
    <h1>ChemVisualizer</h1>
</div>
<div class="ButtonsForEnter">
    <h1 id='MainText_in_inputElements'>ChemVisualizer</h1>
    <button id="nameOfSubstanceBtn">
        Написати назву речовини
    </button>
    <button id="formulaOfSubstanceBtn">
        Написати хімічну формулу речовини
    </button>
</div>


<div id="input_data_container">
    <div id="nameOfSubstance" >
        <input id="inputName" type="text" placeholder="Введіть назву речовини (англійською)" maxlength="50">
        <button style="cursor: pointer;" id="sendNameBtn">Надіслати</button><br>
        <a id="moleculeLinkName" href="">Переглянути тут!</a>
    </div>
    
    <div id="formulaOfSubstance">
        <h1>Уникайте введення формул з дужками.</h1>
        <input oninput="this.value = this.value.toUpperCase()"
         id="inputFormula" type="text" 
         placeholder="Введіть формулу речовини" maxlength="50">
        <button style="cursor: pointer;" id="sendFormulaBtn">Надіслати</button><br>
        <a id="moleculeLinkFormula" href="">Переглянути тут!</a>
    </div>
</div>

<div class="divider">
    <span>Варіанти</span>
</div>
<div class="history-container">
    {% for molecule in molecules_history %}
    <div class="element" onclick="OpenModel(name='{{ molecule.name }}', smiles='{{ molecule.smiles }}')">
        <span class="nameOfMol">{{ molecule.name }}</span>
        <span class="date">{{ molecule.created_at }}</span>
    </div>
    {% empty %}
    <p>Поки що немає молекул. Додайте першу!</p>
    {% endfor %}
</div>

<script src="{% static 'molecules/js/main.js' %}"></script>
{% endblock %}