{% extends "template.html" %}
{% load static %}

{% block title %}ChemVisualizer | {{ name }}{% endblock %}
{% block head %}
<script src="https://3Dmol.csb.pitt.edu/build/3Dmol-min.js"></script>
<script src="https://cdnjs.cloudflare.com/ajax/libs/three.js/r128/three.min.js"></script>
<script src="https://cdnjs.cloudflare.com/ajax/libs/three.js/r128/examples/js/loaders/STLLoader.js"></script>
<script>
    function sendScreenSize() {
        let width = Math.min(window.innerWidth * 0.9, 1000); // 90% ширини екрану
        let height = Math.min(window.innerHeight * 0.5, 600); // 50% висоти

        fetch('/set_viewer_size/', {
            method: 'POST',
            headers: { 'Content-Type': 'application/json' },
            body: JSON.stringify({ width: width, height: height })
        });
    }

    window.onload = sendScreenSize; // Виконуємо після завантаження сторінки
    window.onresize = sendScreenSize; // Виконуємо при зміні розміру вікна
</script>

<style>
    #downloadBtn{
        margin-top: 20px;
        z-index: 10;
    }
</style>
{% endblock %}


{% block body %}
<h1 class="nameOfProject">ChemVisualizer</h1>
<br>
<div id="viewer"></div>

<button id="downloadBtn">Завантажити 3D модель</button>

<script>
    document.getElementById("downloadBtn").addEventListener("click", function () {
        var Data = `{{ mol_block|escapejs }}`;

        if (Data.trim()) {
            var blob = new Blob([Data], { type: "text/plain" });
            var link = document.createElement("a");
            link.href = URL.createObjectURL(blob);
            link.download = "molecule.mol";
            document.body.appendChild(link);
            link.click();
            document.body.removeChild(link);
        } else {
            console.error("MOL дані порожні!");
        }
    });
</script>

<script>
    document.addEventListener("DOMContentLoaded", function () {
        var molBlock = `{{ mol_block|escapejs }}`;

        if (molBlock.trim()) {
            var viewer = $3Dmol.createViewer("viewer", { backgroundColor: "transparent" });
            viewer.addModel(molBlock, "sdf");

            // Тонкі зв'язки та невеликі сфери
            viewer.setStyle({}, { stick: { radius: 0.07 }, sphere: { radius: 0.3 } });

            // Додаємо підписи атомів із зміщенням
            var atoms = viewer.getModel().selectedAtoms({});
            atoms.forEach(atom => {
                    viewer.addLabel(atom.elem, {
                        position: { x: atom.x, y: atom.y + 0.3, z: atom.z },
                        fontSize: 18,
                        fontColor: "black",
                        backgroundColor: "white",  // Для перевірки можна поставити колір
                        backgroundOpacity: 0.0      // Повна прозорість фону
                    });
                });
            viewer.setBackgroundColor("white");


            viewer.zoomTo();
            viewer.render();
        } else {
            console.error("MolBlock порожній або не був переданий.");
        }
    });

</script>
{% endblock %}