{% extends "template.html" %}
{% load static %}

{% block title %}ChemVisualizer | Що таке smiles?{% endblock %}

{% block head %}
<style>
    .smiles_is {
        color: white;
    }
    .text{
        margin-top: 30px;
        background-color: rgba(0, 0, 0, 0.4);
        padding: 10px;
        margin-right: 30px;
    }
</style>
{% endblock %}

{% block body %}
<div class="text">
    <span class="smiles_is">
        <b>SMILES (Simplified Molecular Input Line Entry System) — це метод представлення молекул у вигляді текстових
            рядків.Він дозволяє описати структуру молекул, використовуючи стандартні символи, щоб зберегти інформацію про атоми,
            зв'язки між ними, кількість атомів і їх взаємне розташування.</b>
        <br><br>
        <b>Основні принципи SMILES:</b>
        Атоми: Атоми позначаються символами хімічних елементів (наприклад, C — вуглець, O — кисень, N — азот). Якщо атом
        є
        вуглецем (C), його можна не записувати (наприклад, CH3 замість C-H3).
        <br><br>
        <b>Зв'язки</b>: Одиничні зв'язки зазвичай не записуються, але подвійні і потрійні зв'язки позначаються символами = і #
        відповідно. Наприклад, подвійний зв'язок між атомами вуглецю буде записуватися як C=C.
        <br><br>
        <b>Цикли</b>: Якщо молекула містить циклічні структури, то це позначається числами, які вказують на початкові і кінцеві
        атоми циклу. Наприклад, бензен (C6H6) в SMILES буде виглядати як C1=CC=CC=C1.
        <br><br>
        <b>Групи</b>: Групи атомів можуть бути записані в дужках. Наприклад, метилова група буде виглядати так: (CH3).
        <br><br>
        <b>Таргетування</b>: У SMILES також можна описати ізомерію, використовуючи різні методи запису для молекул, що мають
        різні
        просторові орієнтації.
        <br><br>
        Приклад:
        Етан: CC (де два атоми вуглецю зв'язані одиничним зв'язком).
        <br><br>
        Етилен: C=C (де два атоми вуглецю зв'язані подвійним зв'язком).
        <br><br>
        Бензен: C1=CC=CC=C1 (циклічна структура з чергуванням подвійних зв'язків між атомами вуглецю).
        <br><br>
        Переваги SMILES:
        Простота: Використовується лише текст, що дозволяє легко зберігати та передавати інформацію.
        <br><br>
        Зручність для комп'ютерної обробки: SMILES можна використовувати для автоматичного генерування молекулярних
        структур
        у програмному забезпеченні, що полегшує процес аналізу.
        <br><br>
        Універсальність: Стандарт SMILES є широко використовується в хімії, фармацевтиці та біотехнології для
        відображення
        молекул.
        <br><br>
        SMILES є важливим інструментом для хіміків і біохіміків для роботи з молекулярними структурами в цифровому
        вигляді.
    </span>
</div>

{% endblock %}